[submodule "code/PyMiniSolvers"]
	path = code/PyMiniSolvers
	url = https://github.com/liffiton/PyMiniSolvers.git
[submodule "code/cnfgen"]
	path = code/cnfgen
	url = https://github.com/dselsam/cnfgen
